html,body,nav,header,section,aside,section,div,p,ul,li,h1,fieldset
{
	margin:0;
	padding:0;
	border:0;
	box-sizing:border-box;
}

body
{
	width:80%;
	background-color:#9bb3e5;
	padding:1px;
}
/*.container
{
	width:80%;
	background-color:#fff;
	margin-left:auto;
	padding:10px;
}*/

.jumbotron
{
  background-color:#d3f3ff ;
  width:80%;
  margin-left:auto;
  margin-top:10px;
  color: #fff;
  height: auto;
  padding: 2px;
  text-shadow:4px 4px 4px blue;/*#000;*/
  /*border:3px blue solid;*/
  border-radius:10px / 5px ;
  box-shadow:6px 5px 6px  black;
}

.main
{
	width:80%;
	
	background-color:#fff;
	padding:10px;
	margin-left:auto;
	margin-top:50px;
	color:#ff4753;
}

li
{
	color:blue;
}



 .text-color
{
  color:red;/* rgb(63, 205, 127) !important;*/
}
#logo
{
	line-height: 50px;
	text-align: center;
}
.logo{
    
	position:relative;
	float:center;
	width:150px;
	color: rgb(248, 222, 232);
	font-size:2em;
	font-weight: bold;  
	top:-120px;
	left:500px;
}
